* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-weight: normal;
    background-color: black;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.nav-container {
    text-align: center;
}

.nav-button {
    display: inline-block;
    margin: 10px 20px;
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
    background-color: transparent; /* Set background to transparent */
    border: 2px solid #084c61; /* Add a solid border to create flat square buttons */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth hover effect */
    text-decoration: none; /* Remove underline from links */
    padding: 5px 15px; /* Adjust padding to create clickable area */
    border-radius: 5px; /* Add rounded corners */
}

.nav-button:hover {
    background-color: #56a3a6;
    border-color: #56a3a6; /* Change the border color on hover to match the background color */
}


.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
}
.portfolio-item-image {
    max-width: 400px;
    margin-right: 20px;
}
.portfolio-item-text {
    flex: 1;
}
.portfolio-item-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.portfolio-item-text p {
    font-size: 16px;
    margin-bottom: 20px;
}
.portfolio-item-link {
    margin-top: 20px;
}
.portfolio-item-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #084c61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.portfolio-item-link a:hover {
    background-color: #56a3a6;
}